div(class='jumbotron')
  div(class='container')
    h1 bari&nbsp;
      img(src='img/barilogo-small.png')
    p An advanced build management tool for .NET projects.
    p
      a(href='about.html', class='btn btn-primary btn-lg') Learn more &raquo;
